<h1 class="text-center text-info"> List Managers Page </h1>
<div class="container col-md-6">
    <div class="card">
    <div class="card-body">
     <table class="table table-dark">
      <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Profile</th>
          <th>Position</th>
      </tr>
      <tr *ngFor="let Managers of allData">
          <th> {{Managers.id}} </th>
          <th> {{Managers.name}} </th>
          <th> <img width="50" [src]="Managers.imgUrl" alt=""></th>
          <th> {{Managers.position}} </th>
          <th> <a routerLink="/update-Manager/{{Managers.id}}" class="btn btn-info"> Edit </a></th>
          <th> <button (click)="remove(Managers.id)" class="btn btn-danger" > Remove </button></th>
      </tr>   
     </table>
    </div>
</div>
</div>
